In [5]:
#9
import pandas as pd
data = {'이름': ['철수', '영희', '민수', '지영'], '나이': [25, 30, 22, 28], '성별': ['남자', '여자', '남자', '여자'] }
df = pd.DataFrame(data)
print(df)

   이름  나이  성별
0  철수  25  남자
1  영희  30  여자
2  민수  22  남자
3  지영  28  여자

In [22]:
#10
data = {'col1':['a','b','c'], 'col2':[1,2,3]}
df = pd.DataFrame(data)
df.loc[:2,'col1':'col2']
print(df)

  col1  col2
0    a     1
1    b     2
2    c     3

In [77]:
#12
import pandas as pd
data1 = {'col1': ['a','b','c'], 'col2':[1,2,3]}
df1 = pd.DataFrame(data1)

data2 = {'col3': ['a','b','f'], 'col4':[10,20,30]}
df2 = pd.DataFrame(data2)

df3 = pd.merge(df1, df2, left_on='col1', right_on='col3', how = "outer")
print(df3)

  col1  col2 col3  col4
0    a   1.0    a  10.0
1    b   2.0    b  20.0
2    c   3.0  NaN   NaN
3  NaN   NaN    f  30.0

In [27]:
#13
import pandas as pd
data = {'name': ['철수','영희','민수','지영'], 'score':[75,88,92,68]}
df = pd.DataFrame(data)
df1 = df[df['score'] >= 80]
print(df1)

  name  score
1   영희     88
2   민수     92

In [30]:
#14
import pandas as pd
data = {'name': ['철수', '영희', None, '지영'], 'score': [75, 88, None, 68]}
df = pd.DataFrame(data)
result = df.isna()
print(result)

    name  score
0  False  False
1  False  False
2   True   True
3  False  False

In [ ]:
import pandas as pd
data = {'name': ['철수', '영희','민수'], 'score': [75, 88, 92]}
df = pd.DataFrame(data)

In [37]:
#16
import pandas as pd
data = {'col1':[1,2,3,], 'col2':[4,5,6]}
df = pd.DataFrame(data)
result = df.apply(lambda row: row['col1'] + row['col2'], axis="columns")
print(result)
#서로 더한값

0    5
1    7
2    9
dtype: int64

In [39]:
#17
import pandas as pd
data1 = {'name': ['철수', '영희','민수'], 'score': [75, 88, 92]}
df1 = pd.DataFrame(data1)
data2 = {'name': ['지영', '다현'], 'score': [68, 95]}
df2 = pd.DataFrame(data2)
df3 = pd.concat([df1, df2], ignore_index=True)
print(df3)

  name  score
0   철수     75
1   영희     88
2   민수     92
3   지영     68
4   다현     95

In [54]:
#18
import pandas as pd
data1 = {'name': ['철수', '영희','민수'], 'score': [75, 88, 92]}
df1 = pd.DataFrame(data1)
data2 = {'name': ['영희', '철수','지영', '다현'], 'score': [90, 80, 95, 85]}
df2 = pd.DataFrame(data2)
df3 = pd.merge(df1, df2, on='name')
print(df3)

  name  score_x  score_y
0   철수       75       80
1   영희       88       90

In [44]:
#19
Requests와 BeautifulSoup을 이용하여 주어진 웹페이지의 URL에서 HTML을 가져와
서 특정 태그 ‘h1’의 내용(“Example Domain”)을 추출하는 코드이다. 그림 1과 그림 2의 구
조를 분석하고 빈칸의 코드를 완성하시오.
(①   import requests )
(②   from bs4 import BeautifulSoup )
# 타겟 웹페이지의 URL
url = 'https://example.com'
# 해당 URL에서 HTML 가져오기
response = requests.get(url)
# BeautifulSoup을 사용하여 HTML 파싱
soup = BeautifulSoup(response.text, 'html.parser')
# 'h1' 태그를 추출
target_tag = soup.find('h1')
# ‘h1’ 태그의 내용을 추출
target_content = target_tag.text if target_tag else '태그를 찾을 수 없음.'
# 결과 출력
print(target.content)

SyntaxError: invalid character '‘' (U+2018) (1780775852.py, line 2)

In [45]:
#19-2
from selenium import webdriver
from selenium.webdriver.common.by import By
driver = webdriver.Chrome()
driver.get("https://example.com")
elements_with_a = driver.find_elements(By.CSS_SELECTOR, "a")
print("특정 a 요소의 개수:", len(elements_with_a))
print("특정 a 요소의 속성 href 값 가져오기:",
elements_with_a[0].get_attribute("href"))
driver.quit()

특정 a 요소의 개수: 1
특정 a 요소의 속성 href 값 가져오기: https://www.iana.org/domains/example

In [ ]:
# 현재 작업 디렉터리를 확인하기:
# pwd
# 현재 디렉터리의 모든 파일과 디렉터리를 표시하기: ls
# 현재 작업 디렉터리가 "/C/Users/USER"일 때 "Desktop"으로 변경하기:cd /C/Users/USER/Desktop
# BeautifulSoup 라이브러리를 설치하기: pip install beautifulsoup4
# "file.txt" 파일의 내용을 출력하기: cat file.txt
# 이름이 "myenv"인 가상환경을 생성하기: python -m venv myenv
# "myenv"인 가상환경을 활성화하기: source myenv/Scripts/activate
# 가상환경을 비활성화하기: deactivate
# 변경 사항을 "initial Add"으로 깃 커밋하기: git commit -m "initial Add"

In [ ]:
#22
import pandas as pd
data = {
 '이름': ['철수', '영희', '민수', '지영'],
 '나이': [25, 30, 22, 28],
 '성별': ['남자', '여자', '남자', '여자']
}
df = pd.DataFrame(data)

df.to_csv("example/data.csv", index=False)  # index=False를 지정하여 인덱스를 저장하지 않음

# JSON 파일로 저장
df.to_json("json/data")# orient="records"를 지정하여 레코드 방식으로 저장

In [56]:
#23
import pandas as pd
data1 = {'A': ['A0', 'A1', 'A2'], 'B': ['B0', 'B1', 'B2']}
df1 = pd.DataFrame(data1)
data2 = {'A': ['A3', 'A4', 'A5'], 'B': ['B3', 'B4', 'B5']}
df2 = pd.DataFrame(data2)
df4 = pd.concat([df1, df2], ignore_index=True)
print(df4)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4
5  A5  B5

In [57]:
#24
import pandas as pd
# 두 개의 데이터프레임 생성
left = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
 'A': ['A0', 'A1', 'A2']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
 'B': ['B0', 'B1', 'B2']})

result = pd.merge(left, right, on='key', how='inner')

# 결과 출력
print(result)

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

In [67]:
#25
import pandas as pd

# 기존의 학생들의 성적을 담은 데이터프레임 생성
data = {'학생': ['철수', '영희', '민수'],
        '성적': [80, 75, 90]}
df = pd.DataFrame(data)

# 추가적인 학생의 성적을 담은 시리즈 생성
new_student_scores = pd.Series([85], index=['지영'], name='성적')  # 인덱스를 '지영'으로 설정

# 시리즈를 데이터프레임으로 변환하여 병합
new_student_df = new_student_scores.to_frame().reset_index()
new_student_df.columns = ['학생', '성적']  # 열 이름 변경

# 데이터프레임과 새로운 데이터프레임을 수직으로 결합하여 새로운 데이터프레임 생성
result = pd.concat([df, new_student_df], axis=0)

# 결과 출력
print(result)

   학생  성적
0  철수  80
1  영희  75
2  민수  90
0  지영  85

In [71]:

import pandas as pd

# 기존의 학생들의 성적을 담은 데이터프레임 생성
data = {'학생': ['철수', '영희', '민수'],
        '성적': [75, 88, 92]}
df = pd.DataFrame(data)

# 추가적인 학생의 성적을 담은 시리즈 생성
new_student_scores = pd.Series([85], index=['지영'], name='성적')  # 인덱스를 '지영'으로 설정

# 시리즈를 데이터프레임으로 변환하여 병합
new_student_df = new_student_scores.to_frame().reset_index()
new_student_df.columns = ['학생', '성적']  # 열 이름 변경

# 데이터프레임을 merge를 사용하여 병합
result = pd.merge(df, new_student_df, on='학생', how='outer')
# 결과 출력
print(result)

   학생  성적_x  성적_y
0  민수  92.0   NaN
1  영희  88.0   NaN
2  지영   NaN  85.0
3  철수  75.0   NaN

In [72]:
#26
import pandas as pd

# 두 개의 데이터프레임 생성
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['X', 'Y', 'Z'])
df2 = pd.DataFrame({'C': [7, 8, 9], 'D': [10, 11, 12]}, index=['X', 'Y', 'Z'])

# 시리즈 생성
s = pd.Series([13, 14, 15], index=['X', 'Y', 'Z'], name='E')

# 데이터프레임을 병합하여 새로운 데이터프레임 생성
result = pd.merge(df1, df2, left_index=True, right_index=True)
result = result.merge(s.to_frame(), left_index=True, right_index=True)

# 결과 출력
print(result)

   A  B  C   D   E
X  1  4  7  10  13
Y  2  5  8  11  14
Z  3  6  9  12  15

In [75]:
#27
import pandas as pd

# 두 개의 데이터프레임 생성
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['X', 'Y', 'Z'])
df2 = pd.DataFrame({'C': [7, 8, 9], 'D': [10, 11, 12]}, index=['X', 'Y', 'Z'])

# 시리즈 생성
s = pd.Series([13, 14, 15], index=['X', 'Y', 'Z'], name='E')

# 데이터프레임과 시리즈의 인덱스를 일치시킴
s.index = df1.index

# 데이터프레임을 수평으로 결합하여 새로운 데이터프레임 생성
merged_df = pd.concat([df1, df2], axis=1)

# 결과로 나온 데이터프레임과 시리즈를 수평으로 결합하여 새로운 데이터프레임 생성
result = pd.concat([merged_df, s.to_frame().T], axis=1)

# 결과 출력
print(result)

     A    B    C     D     X     Y     Z
X  1.0  4.0  7.0  10.0   NaN   NaN   NaN
Y  2.0  5.0  8.0  11.0   NaN   NaN   NaN
Z  3.0  6.0  9.0  12.0   NaN   NaN   NaN
E  NaN  NaN  NaN   NaN  13.0  14.0  15.0

In [76]:
#27
import pandas as pd

# 데이터프레임 생성
data = {'국어': [85, 90, 88],
        '영어': [88, 92, 95],
        '수학': [75, 85, 90]}
df = pd.DataFrame(data, index=['철수', '영희', '민수'])

# (1) 각 학생의 성적 총점을 계산하여 '총점' 열을 추가
df['총점'] = df.apply(lambda row: row.sum(), axis=1)

# (2) 각 과목의 평균 점수를 계산하여 '평균' 행을 추가
df.loc['평균'] = df.apply(lambda col: col.mean())

# 결과 출력
print(df)

           국어         영어         수학          총점
철수  85.000000  88.000000  75.000000  248.000000
영희  90.000000  92.000000  85.000000  267.000000
민수  88.000000  95.000000  90.000000  273.000000
평균  87.666667  91.666667  83.333333  262.666667